<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Indore Login & Registration</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}

body {
background: linear-gradient(to bottom, rgb(94, 94, 182), rgb(10, 10, 89));
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

</style>
<body>
    <h1>Welcome to IIT Indore Portal</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</body>
</html>
